.header-background {
  background-image: url('../public/background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
}

.header-icon {
  background-image: url('../public/tv.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 15em;
  width: 140px; 
  height: 140px;
  top: 50%;
  transform: translateY(-50%);
}

.app-title {
  font-family: 'Pacifico', cursive;
  font-size: 4.5rem; 
  padding: 20px 0;
  color: rgb(247, 235, 235);
}


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}

.App-header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.App-header input[type="text"] {
  padding: 10px;
  width: 80%;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.App-header button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.App-header button:hover {
  background-color: #0056b3;
}

.video-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px;
  padding: 20px;
  box-sizing: border-box;
}

.video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background-color: #f0f5f8;
  border-radius: 10px;
  box-shadow: 0 2px 10px #ed9191;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  margin: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.video-title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
  background-color: #f0f5f8;
  width: 100%;
}

.video-item video {
  height: auto;
  width: calc(100% - 10px);
  border-radius: 5px;
}

.video-item ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.video-item li {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.video-item li:last-child {
  border-bottom: none;
}

.video-item a {
  text-decoration: none;
  color: #1a1a1a;
  transition: color 0.3s ease;
}

.video-item a:hover,
.video-item a:focus {
  color: #007bff;
}

.loading-overlay {
  display: flex; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9999;
  align-items: center; 
  justify-content: center;
}

.spinner {
  border: 5px solid #f3f3f3; 
  border-top: 5px solid #3498db; 
  border-radius: 50%; 
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}